.main_screen {
    width: 1440px;
    height: 1024px;
    background: #BBB5BD;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    overflow: hidden;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo {
    position: relative;
    top: 10px;
    z-index: 1;
    overflow: hidden;
    width: 190px;
    height: 110px;
}

.rectangle_main {
    width: 448px;
    height: 486px;
    background: #D9D9D9;
}

.about {
    width: 377px;
    height: 64px;
    text-align: center;
    color: #B118C8;
    font-size: 50px;
    font-family: Cherry Swash;
    font-weight: 700;
    word-wrap: break-word;
}

.version {
    width: 350px;
    height: 50px;
    text-align: center;
    color: #B118C8;
    font-size: 30px;
    font-family: Cherry Swash;
    font-weight: 400;
    word-wrap: break-word;
    padding: 0px;
}

.relesed_on {
    width: 419px;
    height: 46px;
    text-align: center;
    color: #B118C8;
    font-size: 30px;
    font-family: Cherry Swash;
    font-weight: 400;
    word-wrap: break-word;
}

.developed_by {
    width: 319px;
    height: 75px;
    text-align: center;
    color: #B118C8;
    font-size: 30px;
    font-family: Cherry Swash;
    font-weight: 500;
    word-wrap: break-word;
}

.back_btn {
    position: relative;
    width: 150px;
    height: 40px;
    background: #BBB5BD;
    text-align: center;
    color: #B118C8;
    font-size: 30px;
    font-family: Cherry Swash;
    font-weight: 400;
    word-wrap: break-word;
    border: thick;
    border-color: #BBB5BD;
}
