@charset "ISO-8859-1";
body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background: #BBB5BD;
}

.main_rect {
    height: 700px;
    width: 2000px;
    background: #BBB5BD;
    width: 2000px;
}

.menu_rect {
    width: 76px;
    height: 786px;
    background: #D9D9D9;
}

.menu_logo {
    padding-top: 15px;
    padding-left: 21px;
    ;
    width: 34px;
    height: 31px;
    border-radius: 11px;
    padding-left: 21px;
}

ul {
    list-style-type: none;
}

.tb {
    width: 275px;
    height: 40px;
    background: #BBB5BD;
    color: #B118C8;
    font-size: 25px;
    font-family: Cherry Swash;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    margin-top: 5px;
}

.logo {
    position: relative;
    overflow: hidden;
    width: 190px;
    height: 110px;
    z-index: 1;
    padding-left: 65px;
}

.addTaskBox {
    width: 830px;
    height: 75px;
    background: #D9D9D9;
}

.BoxText {
    width: 364px;
    height: 47px;
    text-align: center;
    color: #B118C8;
    font-size: 40px;
    font-family: Cherry Swash;
    font-weight: 400;
    word-wrap: break-word;
}

.addTaskDiv {
    height: 50px;
    width: 1200px;
    background: #D9D9D9;
    margin-left: 50px;
    margin-top: 50px;
    color: #B118C8;
    font-size: 30px;
    font-family: Cherry Swash;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    border: thin;
    border-color: #D9D9D9;
}

.p1 {
    color: #B118C8;
    font-size: 40px;
    font-family: Cherry Swash;
    font-weight: 200;
    word-wrap: break-word;
    text-align: center;
}

.input_1 {
    background: #BBB5BD;
    margin-left: 10px;
    width: 500px;
    height: 25px;
}

.div1 {
    width: 230px;
    height: 47px;
    text-align: center;
    flex-wrap: wrap;
    color: #B118C8;
    font-size: 40px;
    font-family: Cherry Swash;
    font-weight: 400;
    word-wrap: break-word;
}

.input_2 {
    background: #BBB5BD;
    margin-left: 10px;
    width: 500px;
    height: 25px;
}

.icon {
    width: 25px;
    height: 25px;
}

.div2 {
    width: 120px;
    height: 45px;
    color: #B118C8;
    font-size: 40px;
    font-family: Cherry Swash;
    font-weight: 400;
    word-wrap: break-word;
    margin-left: 15px;
}

.main_div_taskForm {
    align-items: center;
    margin-top: 25px;
    display: flex;
    background: #D9D9D9;
    width: 75%;
    height: 250px;
    margin-left: 100px;
}

.btn2 {
    position: relative;
    text-align: center;
    color: #B118C8;
    font-family: Cherry Swash;
    font-size: 25px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}